@page
@model ITS.PWIIOT.SmartClassrooms.WebApplication.Pages.Classroom.CalendarModel
@{
}
<head>
    <link href="~/fontawesome/css/all.css"  rel='stylesheet'/>
    <link href ="~/fullcalendar/main.css" rel="stylesheet" />
</head>
<div id='calendar'></div>
<script src="~/fullcalendar/main.js"></script>
<script src="~/fullcalendar/locales/it.js"></script>
<script src="~/js/fullCalendar.js"></script>