@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>AULE</h1>
@foreach (var item in Model.Classrooms)
{
    <a class="btn btn-primary" asp-page="/classrooms/calendar" asp-route-classroomId=@item.GetClassroomId()>@item.GetClassroomId()</a>
}
<hr>

<h1>CORSI</h1>
@foreach (var item in Model.Courses)
{
    <a class="btn btn-primary" asp-page="/course/calendar" asp-route-courseId=@item.Id>@item.Name</a>
}
<hr />


