@page "{courseId}"
@model ITS.PWIIOT.SmartClassrooms.WebApplication.Pages.Course.CalendarModel
@{
}
<head>
    <link href="~/fontawesome/css/all.css" rel='stylesheet' />
    <link href="~/fullcalendar/main.css" rel="stylesheet" />
</head>

<input type="text" id="courseId" value="@Model.Course.Id" hidden />
<h1>CORSO: @Model.Course.Name</h1>
<div class="mt-3" id='calendar'></div>




<script src="~/fullcalendar/main.js"></script>
<script src="~/fullcalendar/locales/it.js"></script>
<script type="module" src="~/js/fullCalendar.js"></script>
<script src="~/js/courseCalendar.js"></script>