@page "{courseId}"
@model ITS.PWIIOT.SmartClassrooms.WebApplication.Pages.Course.CalendarModel
@{
}



<input type="text" id="courseId" value="@Model.Course.Id" hidden />
<h1>CORSO: @Model.Course.Name</h1>
<div class="mt-3" id='calendar'></div>




<script src="~/js/courseCalendar.js"></script>